.task{
    display: flex;
    align-items: center;
    width: 46rem;
    background: var(--gray-500);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.225rem;
    color: var(--gray-100);
    padding: 1rem;
    margin-bottom:0.75rem ;
    border-radius: 8px;

}

.task label { 
    flex: 2;
    margin-left: 0.75rem;
}
.task label del { 
    color: var(--gray-300);
}

.container {
    margin: 0 auto;
}
  
.round {
    position: relative;
    margin-right:1rem;
}

.round label {
    background-color: var(--gray-500);
    border: 2px solid var(--blue-100);
    border-radius: 50%;
    cursor: pointer;
    height: 1.06rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.06rem;
}

.round label:hover {
    background-color: var(--gray-400);
    border: 2px solid var(--blue-500); 
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 6px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: var(--purple-500);
    border-color:  var(--purple-500);
}

.round input[type="checkbox"]:checked + label:hover {
    background-color: var(--purple-100);
    border-color:  var(--purple-100);
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


.task button{
    border: 0;
    resize: none;
    cursor: pointer;
    background: var(--gray-500);
    color: var(--gray-300);
}
